<div class='container text-center'>
<h1 class='display-4'>Your Moods: </h1>
<ul class='list-group list-group-horizontal-lg flex-wrap'>
<% @moods.each do |mood| %>
  <li class='list-group-item'><a type="button" class="btn btn-outline-info btn-lg" href="/users/<%= @user.id %>/moods/<%= mood.id %>">
    <%= mood.mood_type %> <span class="badge badge-light"><%= @user.days.where('mood_id = ?', mood.id).count %></span>
  </a>
<% end %>
</ul>
</div>