<div class='container text-center'>
  <h1 class='display-4'>All of the days you felt <%= @mood.mood_type.titleize %>:</h1>
  <ul class= 'list-group'>
    <% @days.each do |day| %>
      <%= link_to day.title_date, journal_day_path(day.journal, day), class: 'list-group-item' %>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Back to Moods', user_moods_path(@user), class: 'btn btn-outline-info btn-lg'%>
</div>