<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Sorry, there was an error creating your account...</h4>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %>
  <% end %>
  </div>
<% end  %>