<% if @day.errors.any? || @mood.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Sorry, there was an error with your day update...</h4>
  <% @day.errors.full_messages.each do |msg| %>
    <li><%= msg %>
  <% end %>
  <% if @mood %>
    <% @mood.errors.full_messages.each do |msg| %>
      <li><%= msg %>
    <% end %>
  <% else %>
    <% @day.mood.errors.full_messages.each do |msg| %>
      <li><%= msg %>
    <% end %>
  <% end %>
  </div>
<% end  %>