<h1><%= @journal.title %>: </h1>
<%= link_to "Add Today's Journal Entry", new_journal_day_path %>
<ul>
  <% @journal.days.each do |day| %>
    <li><%= link_to day.title_date, journal_day_path(@journal,day) %></li>
  <% end %>
</ul>