<%= render 'flash' %>
<%= link_to "New Journal", new_user_journal_path(@user) %>
<ul>
<% @journals.each do |journal| %>
  <li><%= link_to journal.title, user_journal_path(@user, journal) %></li>
<% end %>
</ul>