<%= render 'flash' %>
<br>
<div class='container text-center'>
<h3 class='display-4'><%= @user.username %>'s Journals:</h3>
<ul class='list-group'>
<% @journals.each do |journal| %>
  <li class='list-group-item h3'><%= link_to journal.title, user_journal_path(@user, journal), class: 'text-info'%></li>
<% end %>
</ul><br>
<p><%= link_to "New Journal", new_user_journal_path(@user), class: 'btn btn-info btn-lg' %>
</div>